<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Hey <%= user %></p>
    <a href="/logout">logout</a>
  </body>
</html>
