<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/stylesheets/login.css" />
		<title><%= title %></title>
	</head>
	<body>
		<div class="container">
			<div class="form">
				<h2 class="logo">
					<img src="/images/logo.png.jpeg" width="200px" height="70px" />
				</h2>
				<div class="error-msg"><%= messages %></div>
				<form action="/login" method="post">
					<div class="form-element">
						<label for="username">Username</label>
						<input type="text" id="username" placeholder="Enter username" name="username" />
					</div>
					<div class="form-element">
						<label for="password">Password</label>
						<input type="password" id="password" placeholder="Enter password" name="password" />
					</div>
					<div class="form-element">
						<input type="checkbox" id="remember-me" />
						<label for="remember-me">Remember me</label>
					</div>
					<div class="form-element">
						<button type="submit">Sign in</button>
					</div>
				</form>
			</div>
		</div>
	</body>
</html>
