<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/popup.css" />
        <link rel="stylesheet" href="/stylesheets/user/dashboard.css" />
        <link rel="stylesheet" href="/stylesheets/rSlider.min.css" />
        <script src="/javascripts/rSlider.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('nav') -%>
        <div class="main">
            <div class="container attendance">
                <h2>Attendance</h2>
                <div class="attendance-selectors">
                    <div>
                        <h4>Select day of the shift</h4>
                        <p></p>
                        <input type="text" id="day-slider" class="slider" />
                    </div>
                    <div>
                        <h4>Select start time</h4>
                        <p>(minutes)</p>
                        <input type="text" id="time-slider" class="slider" />
                    </div>
                </div>
                <div class="timeline">
                    <table CELLSPACING="0">
                        <thead>
                            <tr>
                                <td>22:00</td>
                                <td></td>
                                <td>00:00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>12:00</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="td">
                                    <div id="timeHighlight">
                                        <i id="startTime"></i>
                                        <i id="endTime"></i>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="container">
                <h2>Travel expeses</h2>
            </div>
            <div class="container">
                <h2>News & events</h2>
            </div>
            <div class="container">
                <h2>coming soon ...</h2>
            </div>
        </div>
    </body>
    <script>
        // day picker slider
        var today = new Date().toISOString().split("T")[0];

        var yesterday = new Date();
        yesterday.setDate(yesterday.getDate() - 1);
        yesterday = yesterday.toISOString().split("T")[0];

        var tomorrow = new Date();
        tomorrow.setDate(tomorrow.getDate() + 1);
        tomorrow = tomorrow.toISOString().split("T")[0];

        var day_slider = new rSlider({
            target: "#day-slider",
            values: [yesterday, today, tomorrow],
            set: [today],
            tooltip: false,
            range: false,
        });

        // time picker slider
        var time_slider = new rSlider({
            target: "#time-slider",
            values: [-30, -20, -10, 0, 10, 20, 30],
            set: [0],
            tooltip: false,
            range: false,
        });
        //
        //
        //
        //
        // timeline

        var td_width = $("#td").outerWidth();
        var highlight = $("#timeHighlight");
        var startLabel = $("#startTime");
        var endLabel = $("#endTime");
        var table = $("table");
        var startTime;
        var endTime;
        $(document).ready(function () {
            $.post("/user/attendance/dash", { date: day_slider.getValue() }, function (data) {
                startTime = data.startTime;
                endTime = data.endTime;
            });
        });
        var time_highlight = {
            setStart: (time) => {
                console.log(time, timetopx(time));
                highlight.css({ left: timetopx(time) });
                startLabel.text(timeFloatToString(time));
            },
            setEnd: (time) => {
                console.log(time, timetopx(time));
                highlight.width(timetopx(time) - highlight.position().left);
                endLabel.text(timeFloatToString(time));
            },
        };

        function timetopx(time) {
            time == 0 ? 24 : time;
            if (time >= 22 && time <= 24) {
                time = time - 22;
            } else {
                time = time + 2;
            }
            return time * td_width;
        }

        function timeFloatToString(minutes) {
            var sign = minutes < 0 ? "-" : "";
            var min = Math.floor(Math.abs(minutes));
            var sec = Math.floor((Math.abs(minutes) * 60) % 60);
            return sign + (min < 10 ? "0" : "") + min + ":" + (sec < 10 ? "0" : "") + sec;
        }

        function timeStringToFloat(time) {
            var hoursMinutes = time.split(/[.:]/);
            var hours = parseInt(hoursMinutes[0], 10);
            var minutes = hoursMinutes[1] ? parseInt(hoursMinutes[1], 10) : 0;
            return parseFloat(hours + minutes / 60).toFixed(2);
        }

        function map_range(value, low1, high1, low2, high2) {
            return low2 + ((high2 - low2) * (value - low1)) / (high1 - low1);
        }
    </script>
</html>
