<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
        <link rel="stylesheet" href="/stylesheets/popup.css" />
        <link rel="stylesheet" href="/stylesheets/user/dashboard.css" />
        <link rel="stylesheet" href="/stylesheets/rSlider.min.css" />
        <script src="/javascripts/rSlider.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    </head>
    <body>
        <%- include('nav') -%>
        <div class="main">
            <div class="container attendance">
                <h2>Attendance</h2>
                <div class="attendance-selectors">
                    <div>
                        <h4>Select day of the shift</h4>
                        <p></p>
                        <input type="text" id="day-slider" class="slider" />
                    </div>
                    <div>
                        <h4>Select time</h4>
                        <p>(minutes)</p>
                        <input type="text" id="time-slider" class="slider" />
                    </div>
                </div>
                <div class="timeline">
                    <table CELLSPACING="0">
                        <thead>
                            <tr>
                                <td>22:00</td>
                                <td></td>
                                <td>00:00</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>12:00</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td id="td">
                                    <div id="timeHighlight">
                                        <i id="startLabel"></i>
                                        <i id="endLabel"></i>
                                    </div>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="attendance-buttons">
                    <button id="checkin" disabled>checkin</button>
                    <button id="checkout" disabled>checkout</button>
                </div>
            </div>
            <div class="container">
                <h2>
                    Travel expeses
                    <p>coming soon...</p>
                </h2>
            </div>
            <div class="container news">
                <h2>News & events</h2>
                <div class="news-wrapper">
                    <div class="new">
                        <img src="https://public-library.safetyculture.io/media/template_9086e648e63e4ca78751c5af7c874743/de93e837-8e52-4ce6-af4e-187aab19e2e9" alt="" width="100px" height="100px" />
                        <div class="new-content">
                            <h3>Porusenie LOTO</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure saepe distinctio doloribus porro, voluptate odio provident nam qui! Neque assumenda velit modi, necessitatibus quasi odit. Nesciunt consequuntur quod aut perferendis.</p>
                        </div>
                    </div>
                    <div class="new">
                        <img src="https://pbs.twimg.com/profile_images/687200864973512704/or0o92p0_400x400.jpg" alt="" width="100px" height="100px" />
                        <div class="new-content">
                            <h3>TGW ASL Bypass test</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure saepe distinctio doloribus porro, voluptate odio provident nam qui! Neque assumenda velit modi, necessitatibus quasi odit. Nesciunt consequuntur quod aut perferendis.</p>
                        </div>
                    </div>
                </div>
                <a href="#">more ...</a>
            </div>
            <div class="container">
                <h2>
                    Statistics
                    <p>coming soon...</p>
                </h2>
            </div>
        </div>
    </body>
    <script src="/javascripts/user-dashboard.js"></script>
</html>
