<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/popup.css" />
	</head>
	<body>
		<% if (typeof(message) != "undefined"){ %>
		<div class="msg"><%= message %></div>
		<% } %>
		<h1>dashboard</h1>
		<h3>Welcome <%= user.username %> !</h3>
		<a href="/user/profile">profile</a>
		<% if (user.role == "admin"){ %>
		<a href="/admin-panel">admin panel</a>
		<%}%>
		<a href="/logout">logout</a>
	</body>
</html>
