<!-- prettier-ignore -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
<link rel="stylesheet" href="/stylesheets/user/nav.css" />
<nav class="user-nav">
    <div class="logo">i4industry</div>
    <div class="left">
        <a href="/user/dashboard">dashboard</a>
        <% if(user.role=="admin" ) { %>
            <a href="/admin-panel">admin panel</a>
            <% } %>
                <a href="/user/attendance">attendance</a>
                <a href="/user/reportkm">report km</a>
                <a href="https://1drv.ms/f/s!Avbh0G2bPTnNlg-it_y9UZeReoFb">learning</a>
                <a href="/user/faq">faq</a>
                <a href="/user/contact">contact</a>
    </div>
    <div class="right">
        <a href="#">
            <div class="user-info">
                <%= user.username %>
                    <p>
                        <%= user.site %>
                    </p>
            </div>
            <img src="/images/avatars/<%=user.avatar %>" />
        </a>
        <div class="user-dropdown">
            <a href="/user/profile"><i class="fa-regular fa-id-badge"></i>Profile</a>
            <a href="#"><i class="fa-solid fa-gear"></i>Settings</a>
            <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i>Logout</a>
        </div>
    </div>
</nav>