@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* Attendance list section */

.attendance {
    text-transform: capitalize;
    padding: 20px 40px;
    margin: 40px;
    width: 100%;
    position: relative;
    background: white;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
}

.attendance-list {
    width: 100%;
    margin-top: 10px;
    display: relative;
}

#users-table {
    border-collapse: collapse;
    font-size: 15px;
    min-width: 100%;
    overflow: hidden;
    border-radius: 15px 15px 0 0;
    height: 100%;
    color: black;
}

table thead tr {
    color: white;
    text-align: left;
    font-weight: bold;
    background: #113b77;
}

#users-table th,
#users-table td {
    padding: 12px 15px;
    text-align: center;
}

#users-table tbody tr,
thead {
    border: 2px solid #113b77;
}

#users-table a {
    padding: 6px 20px;
    border-radius: 15px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #113b77;
}

#users-table a:hover {
    background: #113b77;
    color: white;
    transition: 0.5s;
}

#filter-form {
    font-family: "Poppins", sans-serif;
    flex-direction: column;
    align-items: left;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
    text-align: left;
}

#filter-form input {
    width: 200px;
    height: 30px;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 20px;
}

#filter-form button {
    border-radius: 10px;
    padding: 5px 20px;
    background-image: linear-gradient(to right, #113b77, #2460b9);
    color: white;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}

#filter-form label {
    margin-right: 10px;
}

.table-control {
    font-family: Arial, sans-serif;
    color: #333;
}

.table-control {
    font-family: Arial, sans-serif;
    color: #333;
}
.table-control.active {
    background-color: #333;
    color: #fff;
    border: 1px solid #333;
}

.pagination-control {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

/* Style the page numbers */
.pagination-control .page-number {
    display: inline-block;
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the current page */
.pagination-control .current-page {
    font-weight: bold;
    background-color: #ccc;
}
