@keyframes intro {
    0% {
        width: 300px;
    }
    100% {
        width: 100px;
    }
}

body {
    background: linear-gradient(to right, #113b77, #2460b9);
}

nav {
    animation: 1s intro;
    position: sticky;
    top: 0;
    bottom: 0;
    height: 100vh;
    left: 0;
    width: 100px;
    /* width: 280px; */
    background: white;
    overflow: hidden;
    transition: 1s;
}

nav:hover {
    width: 300px;
    transition: 1s;
}

.logo {
    text-align: center;
    display: flex;
    padding: 25px;
    padding-bottom: 3rem;
}
.logo:hover {
    cursor: default;
    background-color: white;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 10px;
    top: 0px;
}

nav a {
    position: relative;
    width: 300px;
    font-size: 14px;
    color: rgb(85, 83, 83);
    display: table;
    padding: 10px;
    font-weight: 500;
}

nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 15px;
    font-size: 20px;
    text-align: center;
}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: #eee;
}

a:hover i {
    transition: 0.5s;
    color: #113b77;
}

.logout {
    position: absolute;
    bottom: 10px;
}

.container {
    display: flex;
}
